@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --black-p:#1B1B1B;
    --white-p:#EDEDED;
    --yellow-p:#F5E80E;
    --poppins-font-family: "Poppins", sans-serif;

}
#loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black-p);
    z-index: 999999999;
}
#loader .inner-body{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white-p);
    width: 350px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader .inner-body p{
    overflow: hidden;
    /* height: 30px; */
    /* overflow: hidden; */
    /* position: absolute; */
   
    font-size: 1.9rem;
    font-weight: 500;
    /* bottom: -2rem; */
}
#img3{
    /* position: absolute; */
    width: 40%;
    margin-left: 0.3rem;
}
#img1{
    position: absolute;
    width: 70%;
    opacity: 0.5;
    top: -1rem;
    left: -1rem;
}
#img2{
    position: absolute;
    width: 70%;
    transform: rotate(180deg);
    bottom: 0;
    right: 0;
    opacity: 0.5;

    
}
#btn-close{
    display: none;
}
.mobile-nav{
    display: none;
}
html, body{
   font-family: var(--poppins-font-family);
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   width: 100%;
   overflow-x: hidden;
}
header{
    background-color: var(--black-p);
    padding: 0.2rem 1.8rem;
    color: var(--white-p);
}
header nav{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style-type:none;
}
header nav ul li{
    padding: 0.4rem 0.8rem;
    margin: 0rem 0.3rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 0.3rem;
}
header nav ul li:hover{
    background-color: rgb(245, 232, 14,0.3);
    color: rgba(255, 255, 255, 0.8);
}
header nav div{
    display: flex;
    align-items: center;
}
header nav div:nth-child(2) i{
    font-size: 1.8rem;
}
header nav div .icon{
    width: 107px;
    height: 30px;
   
    
}
#btn-close{
    display: none;
}

header nav div .icon img{
    width: 100%;
}

/* section {

} */
section .jambo{
    max-width: 100%;
    max-height: 70vh;
  
    /* margin: auto; */
    overflow: hidden;
    
    -o-object-fit: contain;
    object-fit: contain;
}
h1,p,h2,h3{
    padding: 0;
    margin: 0;
}
.welcome{
    padding:  3.6rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: #1B1B1B;
    color: var(--white-p);

}
.welcome h1{
    font-size: 2.3rem;
}
.welcome p{
    font-size: 1rem;
    width: 50%;
    text-align: center;
    opacity: 0.8;
}
.welcome button{
    padding: 0.7rem 1.3rem;
    border-radius: 0.3rem;
    border: none;
    font-family: var(--poppins-font-family);
    cursor: pointer;
    background-color: rgb(245, 232, 14,0.8);
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
    margin-top: 0.7rem;
}
.welcome button:hover{
    background-color: rgb(245, 232, 14,1);

}

.getstart{
    background-color: #272627;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 6rem;
    color: var(--white-p);
    
}
.getstart div:nth-child(1){
    width: 40%;
    
}
.getstart div:nth-child(1) h2{
    font-size: 2.1rem;
}
.getstart div:nth-child(1) p{
    font-size: 1.1rem;
    margin-top: 0.3rem;
   
}
.getstart div:nth-child(2){
    width: 26%;
    padding-left: 3.8rem;
}
.getstart div:nth-child(2) img{
    width: 100%;
}
.product{
    display: flex;
    background-color: #272627;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem 0 ;
    padding-bottom: 3rem;


}
.product .card{
 border: 1px solid rgba(255, 255, 255, 0.7);
 transition: 0.3s ease-in-out; 
 cursor: pointer;
 width: 35%;

}
.product .card div:nth-child(1){
 background-color: #3E4C4D;
 text-align: center;
}
.product .card div:nth-child(1) img{
    width: 75%;
   }
   /* .product .card:nth-child(3) div:nth-child(1){
    width: 200px;
   } */



   .product .card:nth-child(2) div:nth-child(1) img{
    width: 72%!important;
   }
   .product .card:nth-child(3) div:nth-child(1) img{
    width: 82%;
   }


   
   .product .card:nth-child(2) div:nth-child(1) img{
    width: 40%;
    padding: 1rem;
   
   }
.product .card .card-footer{
    padding: 1.4rem;
    color: var(--white-p);
    background-color: var(--black-p);
    
}
.product .card .card-footer h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.7rem;
    transition: 0.3s;
}
.product .card:hover{
    border: 1px solid var(--yellow-p);
}
.product .card:hover .card-footer h3{
    color: var(--yellow-p);
}
.yoness{
    padding: 4rem 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #293233;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: var(--white-p);
    gap: 3rem;
}
.yoness div:nth-child(2){
    width: 50%;
    padding: 1.5rem;
}
.yoness div:nth-child(1){
    width: 50%;
}
.yoness div:nth-child(1) img{
    width: 100%;
}
.yoness div:nth-child(2) h2{
 font-size: 2.1rem;
 font-weight: 500;
}
.yoness div:nth-child(2) p{
    font-size: 1.1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.yoness div:nth-child(2) button{
    padding: 0.7rem 1.3rem;
    border-radius: 0.3rem;
    border: none;
    font-family: var(--poppins-font-family);
    cursor: pointer;
    background-color: rgb(245, 232, 14,0.8);
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
    margin-top: 0.7rem;
}

.yoness div:nth-child(2) button:nth-child(2){
    background-color: transparent;
    color: var(--white-p);
    border: 1px solid rgba(255, 255, 255, 0.7);

}
.yoness div:nth-child(2) button:nth-child(2):nth-child(2):hover{
    background-color: var(--white-p);
    color: var(--black-p);
}
.yoness div:nth-child(2) button:hover{
    background-color: rgb(245, 232, 14,0.6);
    color: var(--black-p);
}
/* .yoness div:nth-child(1){
    width: 28%;
} */
.yoness #brain{
    width: 20%;
}
.yoness #server{
    width: 28%;
}


.yoness2{
    padding: 3.2rem;

    display: flex;
    align-items: center;
    background-color: #332821;
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: var(--white-p);
    gap: 3rem;
}
.yoness2 div:nth-child(1){
    width: 50%;
    padding: 1.5rem;
}
.yoness2 div:nth-child(2){
    width: 40%;
    padding: 2rem 0;
}
.yoness2 div:nth-child(2) img{
    width: 100%;
}
.yoness2 div:nth-child(1) h2{
 font-size: 2.1rem;
 font-weight: 500;
}
.yoness2 div:nth-child(1) p{
    font-size: 1.1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.yoness2 div:nth-child(1) button{
    padding: 0.7rem 1.3rem;
    border-radius: 0.3rem;
    border: none;
    font-family: var(--poppins-font-family);
    cursor: pointer;
    background-color: rgb(245, 232, 14,0.8);
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
    margin-top: 0.7rem;
}

.yoness2 div:nth-child(1) button:nth-child(2){
    background-color: transparent;
    color: var(--white-p);
    border: 1px solid rgba(255, 255, 255, 0.7);

}
.yoness2 div:nth-child(1) button:nth-child(1):nth-child(1):hover{
    background-color: var(--white-p);
    color: var(--black-p);
}
.yoness2 div:nth-child(1) button:hover{
    background-color: rgb(245, 232, 14,0.6);
    color: var(--black-p);
}
.yo{
    background-color: #332027;
}
.code-yo{
    padding: 5rem;
    background-color: #212131;
}
.yoness div .code{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white-p);
    border-right: 2px solid var(--yellow-p);
    border-bottom: 2px solid var(--yellow-p) ;
    background-color: var(--black-p);

}
.yoness div .code .code-h .cir{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 0.3rem;
    padding: 1.3rem;
   
}
.yoness div .code .code-h  .cir .cir1{
    width: 15px;
    height: 15px;
    background-color: #D46666;
    border-radius: 50%;
}


.yoness div .code .code-h  .cir .cir2{
   width: 15px!important;
   height: 15px!important;
    background-color: #D46666;
    border-radius: 50%;
    display: none;
}

.yoness div .code .code-h .cir .cir3{
    width: 15px;
    height: 15px;
    background-color: #D46666;
    border-radius: 50%;
}
.yoness div .code .code-h{
    background-color: var(--black-p);
    padding: 0rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.yoness div .code ul{


    display: flex;
    flex-direction: column;
    padding: 0;

}
.yoness div .code ul li{
   list-style-type: none;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid rgba(255, 255, 255, 0.4);
   padding: 1rem;
}
.yoness div .code ul li:nth-child(4){
   border-bottom: none;

}
.yoness div .code ul li:hover{
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--black-p);
}
.yoness div .code ul li span:nth-child(2){
    font-size: 0.9rem;
    opacity: 0.7;
}
.yo-today{
    padding: 4rem;
    background-color: #272627;
    color: var(--white-p);
}

.yo-today div:nth-child(1) h2{
    color: var(--white-p);
    padding-left: 3rem;
}
.yo-today div:nth-child(1) span{
   color: rgba(255, 255, 255, 0.8);
    padding-left: 3rem;
   
}

.yo-today div:nth-child(1) h2{
    font-size: 1.7rem;

}

.yo-today div:nth-child(1) span{
    font-size: 1.1rem;
    padding-top: 1rem;
}
header nav div:nth-child(3){
    display: none;
}
.yo-cards{
    display: flex;
    width: 100%important;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
    
}
.yo-cards .yocard{
    padding: 1rem;
    border:1px solid rgba(255, 255, 255, 0.7);
    width: 45%;
 
    
    
}
.yo-cards .yocard .yocard-h{
    padding: 0.8rem;
   
}
.yo-cards .yocard .yocard-h p{
   font-size: 1.2rem;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 1);
}
.yo-cards .yocard .yocard-h span{
    padding-left: 0;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.7);
}
.yo-cards .yocard .yo-graph{
    padding: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.yo-cards .yocard .yo-graph div{
    display: flex;
}
.yo-cards .yocard .yo-graph span{ 
border: 1px solid rgba(255, 255, 255, 0.7);
padding: 0.5rem;
display: flex;
align-items: center;
}

.explore{
    background-color: #1B1B1B;
    padding: 1.5rem;

}
.explore h2{
    padding-left: 8rem;
    color: var(--white-p);
    font-size: 2rem;
    padding-top: 2rem;

}
.explore .product{
    background-color: #1B1B1B;
}
/* .explore .product .card:nth-child(3){
    text-align: center;
   
} */
.explore .product .card:nth-child(2) img{
    width: 40%;
    position: relative;
    padding: 0.7rem;
    left: 50%;
    transform:translateX(-50%) ;
    
}
.explore .product .card:nth-child(1) img{
    width: 30%;
    padding: 0.7rem;
    position: relative;
    left: 50%;
    transform:translateX(-50%) ;
    
}
.explore .product .card:nth-child(3) img{
    width: 30%;
    position: relative;
    left: 50%;
    transform:translateX(-50%) ;
    
}
.explore .product .card .card-footer{
background-color: rgb(0, 0, 0,0.3);
}
.explore .product .card:nth-child(1){
    width: 39%;
}
.explore .product .card:nth-child(2){
    width: 39%;
}
.explore .product .card:nth-child(3){
    width: 79%;
}
.yocon{
    display: flex;
    justify-content: center;
}
.yocon{
    background-color: #1B1B1B;
}
.yocon div{
    width: 85%;
    background-color: #333A46;
    padding: 1.9rem;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
  

}
.yocon div .con-l{
    flex-direction: column;
    align-items: start;
    color: var(--white-p);
    

}
.yocon div .con-l h2{
    font-size: 2rem;

}
.yocon div .con-l p{
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: start;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;

}
.yocon div .con-r{
    width: 40%;
   
}
.yocon div .con-r img{
    width: 100%;
}
.yocon div .con-l button{
    padding: 0.7rem 1.3rem;
    border-radius: 0.3rem;
    border: none;
    font-family: var(--poppins-font-family);
    cursor: pointer;
    background-color: rgb(245, 232, 14,0.8);
    transition: all 0.3s ease-in;
    font-size: 0.9rem;
    margin-top: 0.7rem;
    margin-top: 1.5rem;
}
.yocon div .con-l button:hover{
    background-color: rgb(245, 232, 14,1);

}

footer{
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    color: var(--white-p);
    padding: 1.5rem 2.5rem;
}
footer div{
    width: 20%;
    padding-top: 1.5rem;
}
footer div h3{
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 3rem;
}
footer div ul{
    padding: 0.1rem 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    align-self: flex-start;
}
footer div ul li{
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}
footer div ul li:hover{
    color: var(--yellow-p);
    
}
.footer-last{
    padding: 0.2rem;
    background-color:var(--black-p);
    display: flex;
    justify-content: center;
}
.footer-last div{
    padding: 1rem;
    background-color:  rgba(0, 0, 0, 0.5);
    width: 85%;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    
}
.footer-last div ul{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.footer-last div ul li{
    color: rgba(255, 255, 255, 0.5);
    list-style-type: none;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
}
.footer-last div ul li:hover{
    color: var(--yellow-p);
    
}

section{
    position: relative;
}
section #conis{
    position: absolute;
    width: 350px;
    top: 8rem;
    left: 10rem;
}
section #conis2{
    position: absolute;
    width: 350px;
    right: 1rem;
    bottom: -1rem;
}
@media screen and (max-width:950px) {
    section #conis{
        position: absolute;
        width: 200px;
        bottom: 2rem;
       
    }
    section #conis2{
        position: absolute;
        width: 200px;
        left: 1rem;
        bottom: 5rem;
    }
    
    header nav div .icon{
        width: 95px;
        height: 24px;
        
    }
    
    header{
        padding:1.1rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
        /* width: 100%; */
    }
    header nav ul{
        display: none;
    }
    .jambo{
        padding-top: 4rem;
        width: 100%;
        background-color: var(--black-p);
    }
    .jambo img{
        width: 145%;
        /* height: 50vh; */

    }
    header nav div:nth-child(2){
        display: none;
    }
    header nav div:nth-child(3){
        display: block;
        font-size: 1.6rem;
    }
    section .jambo{
        width: 100%;
        /* display: none; */
    }
    .welcome{
        padding: 2.4rem 0;

    
        text-align: center;
    }
    .welcome h1{
        width: 100%;
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .welcome p{
        width: 90%;
        padding: 0.5rem;
    }
    .getstart{
        flex-direction: column-reverse;
        padding: 2.2rem;
        gap: 1.5rem;
    }
    
   
    
    .getstart div:nth-child(2){
        width: 70%;
        padding-left: 0;
       
        
    }
    .getstart div:nth-child(2) img{
        width: 100%;
        

    }
    .getstart div:nth-child(1){
        width: 100%;
       
        
    }
    .product {
        padding: 1rem;
    }
    .yoness{
        flex-direction: column;
        gap: 0;
    }
    .yoness div:nth-child(2){
        width: 87%;
        padding: 0;
      
    }
    .yoness div:nth-child(1){
        width: 70%;
    }
    .yoness2{
        flex-direction: column-reverse;
        gap: 0;
        padding: 2.2rem;
    }
    .yoness2 div:nth-child(1){
        width: 100%;
    }
    .yoness2 div:nth-child(2){
        width: 70%;
        padding: 0;
    }
    .code-yo {
        padding: 1rem;
    }
    .code-yo  div{
        width: 100%;
        
    
    }
    .fa-bars{
        font-size: 1.3rem;
    }
    .code-yo{
        padding: 0.5rem;
    }
    .code-yo div{
        width: 100%;
        padding: 0.5rem;
        
    }
    .code .code-h{
        width: 100%;
    }
    .yoness div .code ul{
        width: 100%;
    }
    .yoness div:nth-child(1){
        width: 96%;
     
    }
    .yoness2 div:nth-child(1){
        padding: 0;
    }
    .yo-today{
        padding: 1rem 0.9rem;
    }
    .yo-today div h1{
        padding: 1rem 0.9rem;
    }
    .yo-cards .yocard{
        width: 100%;
    }
    .yo-today div:nth-child(1) h2{
        padding-left: 0.1rem;
    }
    .yo-today div:nth-child(1) span{
        padding-left: 0.1rem;
    }
    .yoness #brain{
        width: 100%;
    }
    .yoness2 div:nth-child(2){
        padding: 0rem;
    }
    .explore .product{
        flex-direction: column;
    }
   
    .explore .product .card:nth-child(1){
        width: 100%;
    }
    .explore .product .card:nth-child(2){
        width: 100%;
    }
    .explore .product .card:nth-child(3){
        width: 100%;
    }
    .explore h2{
        padding-left: 0;
    }
    .yocon div{
        flex-direction: column-reverse;
    }
    .yocon div .con-r{
        padding: 0.5rem;
    }
 footer{
    flex-direction: column;
    padding: 1rem 0.8rem;
 }
 footer div{
    width: 95%;
 }
 .footer-last div ul{
    flex-direction: column;
   
 }
 .product .card{
    width: 90%;
 }
 .explore .product .card:nth-child(3) img{
    width: 100%;
   
    
}

.mobile-nav{
    padding-top: 3.5rem;
    width: 100%;
    height: 100vh;
    background-color: var(--black-p);
    color: var(--white-p);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
}
.mobile-nav ul li{
    font-size: 1.1rem;
    font-weight: 400;
    list-style: none;
    padding: 0.5rem;
    padding-left: 0;
}
.yoness{
    padding: 2rem 0.5rem;
}
.yoness #server{
    width: 88%;
}
.yocon div .con-r{
    width: 80%;
}

.yocon div{
    padding: 1.5rem 1rem;
    border-radius: 0.4rem;
}


}
